html {
  scroll-behavior: smooth;
 }
 
 main {
  margin-top: 7.18rem;
 }

.container {
  width: 1024px;
  margin: 0 auto;
}

.button {
  border: 1px solid var(--color-tertiary);
  padding: .8rem;
  border-radius: .5rem;
}

.button:hover {
  box-shadow: 2px 2px var(--color-tertiary);
}