header {
  background-color: var(--color-primary);
}

header img {
  width: 12rem;
}

nav ul {
  width: 28rem;
}

nav a {
  color: var(--color-white);
  text-decoration: none;
}

nav li:nth-child(-n+3):hover {
  border-bottom: 1px solid var(--color-tertiary);
  box-shadow: 0px 1px var(--color-tertiary);
}